.bouton__panier_1{
    position:absolute;
    left: 90%;
    top: 100px;
    border-radius: 11px;
    width: 4%;
    height: 70px;
    background-color: rgb(190, 190, 190);
    font-size: 60px;
    color: white;
    cursor: pointer;
    line-height: 0px;
}
#affichage_prix_1{
    position: absolute;
    padding-left: 300px;
    font-weight: bold;  
}

#description_category_1{
    font-size: 15px;
    padding-left: 30%;
    width: 50%;
    
}
.produit_1{
    position:absolute;
    left: 70%;
    top: 85px;
    border-radius: 25px;
    width: 15%;
    height: 100px;
    background-color: rgba(117, 114, 255, 1);
    font-size: 50px;
    color: white; 
    cursor: pointer;
}
.photo_category{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
}
#description_category_1_head{
    font-size: 25px;
    padding-left: 30%;
    font-weight: bolder;
    text-decoration: underline;
    
}
/*pc*/
.choix_msi_codex, .choix_acer_pred, .choix_lenovo_legion, .choix_asus_rog, .choix_hp_pavillion{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
}
.choix_msi_codex{
    top: 150px;
}
.choix_acer_pred{
    top: 280px;
}
.choix_lenovo_legion{
    top: 560px;
}
.choix_asus_rog{
    top: 840px;
}
.choix_hp_pavillion{
    top: 1120px;
}
/*telephones*/
.choix_xiaomi, .choix_oneplus, .choix_asuz_phone, .choix_redmagic, .choix_lenovo_phone{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
}
.choix_xiaomi{
    top: 150px;
}
.choix_asuz_phone{
    top: 280px;
}
.choix_oneplus{
    top: 280px;
}
.choix_lenovo_phone{
    top: 280px;
}
.choix_redmagic{
    top: 280px;
}
/*vr*/
.choix_htc, .choix_hp_reverb_G2, .choix_valve_index, .choix_playstation_vr, .choix_quest{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
}
.choix_quest{
    top: 150px;
}
.choix_hp_reverb_G2{
    top: 280px;
}
.choix_valve_index{
    top: 280px;
}
.choix_playstation_vr{
    top: 280px;
}
.choix_htc{
    top: 280px;
}

