/*msi*/
.choix_msi{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 150px;
   
}
.photo_msi{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
}
#affichage_prix_1{
    position: absolute;
    padding-left: 300px;
    font-size: 35px;
    font-weight: bold;  
}
#description_msi_1_head{
    font-size: 25px;
    padding-left: 500px;
    font-weight: bolder;
    text-decoration: underline;
    
}
#description_msi_1{
    font-size: 15px;
    padding-left: 500px;
    
}
.msi_1{
    position:absolute;
    left: 70%;
    top: 85px;
    border-radius: 25px;
    width: 15%;
    height: 100px;
    background-color: rgba(117, 114, 255, 1);
    font-size: 50px;
    color: white;
}
.bouton__panier{
    position:absolute;
    left: 90%;
    top: 100px;
    border-radius: 11px;
    width: 4%;
    height: 70px;
    background-color: rgb(190, 190, 190);
    font-size: 60px;
    color: white;
}
/*asuz*/
.choix_asuz{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 280px;
   
}
.photo_asuz{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
}
#affichage_prix_1{
    position: absolute;
    padding-left: 300px;
    font-size: 35px;
    font-weight: bold;  
}
#description_asuz_1_head{
    font-size: 25px;
    padding-left: 500px;
    font-weight: bolder;
    text-decoration: underline;
    
}
#description_asuz_1{
    font-size: 15px;
    padding-left: 500px;
    
}
.asuz_1{
    position:absolute;
    left: 70%;
    top: 85px;
    border-radius: 25px;
    width: 15%;
    height: 100px;
    background-color: rgba(117, 114, 255, 1);
    font-size: 50px;
    color: white;
}
.bouton__panier_1{
    position:absolute;
    left: 90%;
    top: 100px;
    border-radius: 11px;
    width: 4%;
    height: 70px;
    background-color: rgb(190, 190, 190);
    font-size: 60px;
    color: white;
}
/*hp*/
.choix_hp{
    width: 100%;
    height: 275px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 280px;
   
}
.photo_hp{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
}
#affichage_prix_1{
    position: absolute;
    padding-left: 300px;
    font-size: 35px;
    font-weight: bold;  
}
#description_hp_1_head{
    font-size: 25px;
    padding-left: 500px;
    font-weight: bolder;
    text-decoration: underline;
    
}
#description_hp_1{
    font-size: 15px;
    padding-left: 500px;
    
}
.hp_1{
    position:absolute;
    left: 70%;
    top: 85px;
    border-radius: 25px;
    width: 15%;
    height: 100px;
    background-color: rgba(117, 114, 255, 1);
    font-size: 50px;
    color: white;
}
.bouton__panier_1{
    position:absolute;
    left: 90%;
    top: 100px;
    border-radius: 11px;
    width: 4%;
    height: 70px;
    background-color: rgb(190, 190, 190);
    font-size: 60px;
    color: white;
}

