.panier, .connexion, .compte{
    top: 0px;
}
.all_items{
    position: absolute;
    background-color: white;
    width: 90%;
    height: 75vh;
    top: 150px;
    left: 5%;
}
.msi_image, .acer_image, .legion_image{
    max-width: 75%;
    height: auto;
    position: absolute;
}
.ajouter_liste_souhaits{
    width: 15%;
    margin-top: 23%;
    left: 5%;
    position: absolute;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.ajouter_panier:hover{
    background-color: rgba(137, 124, 255, 1);
}
/*Description du produit*/
.details{
    text-decoration: underline;
    text-align: center;
}
.description_complete{
    text-align: left;
    position: absolute;
    left: 25%;
    right: auto;
    width: 50%;
}
.prix{
    font-size: 70px;
    padding-bottom: 50%;
    text-align: center;
    position: absolute;
    font-weight: bold;

}
.ajouter_panier{
    right: auto;
    width: 75%;
    top: 35vh;
    position: absolute;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
#nbre_panier{
    right: auto;
    text-align: center;
    top: 30vh;
    width: 75%;
    position: absolute;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
#img_wishlist{
    width: 20%;
    height: 20%;
    left: 5%;
    top: 10%;
    position: absolute;
    }

.prix_panier{
    position: absolute; 
    width: 15%;
    left: 80%;
    top: 25vh;
}
.ajouter_commentaire{
    width: 20%;
    height: 25%;
    position: absolute;
    top: 62vh;
    left: 7%;
    text-align: left;
}
.bt_send_com{
    position: absolute;
    top: 87vh;
    left: 15%;
    text-align: left;
}
.signature{
    position: absolute;
    top: 105vh;
}

