
.pageup{
    background-color: rgba(117, 114, 255, 1);
    width: 100%;
    height: 120px;
}

.logo{
    width: 140px;
    height: 100px;
    padding-left: 1em;
    padding-top: 10px;
}
.search_total{
    display: flex;
    justify-content: center;

}
.barre_cherche{
    background-color: white;
    height: 25px;
    padding-left: 50px;
    width: 40em;
    position: absolute  ;
    top:50px;
    line-height: 25px;
    left: 300px;
    align-content: center;
    text-align: left;
    border-radius:   11px; 
    
}

.bouton_rechercher{
    background-color: rgba(186, 185, 255, 1);
    height: 30px;
    width: 100px;
    position: absolute;
    top:51px;
    line-height: 25px;
    text-align: center;
    border-bottom-left-radius:  none; 
    border-top-left-radius:  none; 
    border-bottom-right-radius:  11px; 
    border-top-right-radius:  11px; 
    display: flex; 
    border: 0.5px solid none;
}

.panier{
    background-color: rgba(186, 185, 255, 1);
    height: 25px;
    line-height: 25px;
    width: 100px;
    position: absolute;
    top:50px;

    left: 77em;
    text-align: center;
    border-radius: 11px; 
}
.connexion{
    background-color: rgba(186, 185, 255, 1);
    height: 25px;
    line-height: 25px;
    width: 100px;
    position: absolute ;
    top:50px;
    line-height: 25px;
    left: 110em; 
    text-align: center;
    border-radius: 11px; 
}