#titre{
    margin-top: 180px;
    text-align: center;
    font-size: x-large;
}
#titre1{
    text-decoration: dotted underline;
}
#article_1{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 150px;
    padding: 150px;
    width: 120px;
    margin-left: 65px;
    margin-bottom: 100px;
    text-align: center;
}
#article_2{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 150px;
    padding: 150px;

    text-align: center;
}
#article_3{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 150px;
    padding: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

