*{
    box-sizing: border-box;

}
/*première barre de naviguation*/
body{
    background-color: rgba(238, 240, 255, 1);
}

.pageup{
    background-color: rgba(117, 114, 255, 1);
    width: 100%;
    height: 75px;
    position: absolute; 
    top: -1px;
    left: -1px;
}

.logo{
    width: 70px;
    height: 70px;
    padding-left: 1em;
    padding-top: 7px;
}
.search_total{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    width: 100%;
}
.barre_cherche{
    background-color: white;
    height: 40px;
    width: 40%;
    padding-left: 50px;
    line-height: 25px;
    align-content: center;
    text-align: left;
    border-bottom-left-radius:  11px; 
    border-top-left-radius:  11px; 
    border-bottom-right-radius:  none; 
    border-top-right-radius:  none;
    font-size: 15px;
    
}

.bouton_rechercher{
    background-color: rgba(186, 185, 255, 1);
    height: 40px;
    width: 5%;
    line-height: 30px;
    text-align: center;
    border-width: 1px;
    border-bottom-left-radius:  none; 
    border-top-left-radius:  none; 
    border-bottom-right-radius:  11px; 
    border-top-right-radius:  11px; 
    display: flex; 
    border: 0.5px solid none;
}

.panier{
    background-color: rgba(186, 185, 255, 1);
    height: 40px;
    line-height: 25px;
    width: 5%;
    position: absolute;
    top:20px;
    line-height: 25px;
    left: 83%;
    text-align: center;
    border-radius: 11px; 
    border-width: 1px;

}
.connexion{
    background-color: rgba(186, 185, 255, 1);
    height: 40px;
    line-height: 25px;
    width: 5%;
    position: absolute ;
    top:20px;
    line-height: 25px;
    left: 90%; 
    text-align: center;
    border-width: 1px;
    border-radius: 11px; 
}
/*Fin de la première barre de navigation*/

.category_total{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(117, 114, 255, 1);
    height: 60px;
    width: 100%;
    top: 80px;
    left: -1px;
    position: absolute;
    
    
}

.ordinateur{
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 20%;
    position: absolute;
    left: -1px;
    border: none;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    font-size: 20px;
    font-family: sans-serif;

    
}
.telephone{
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 20%;
    left: 20%;
    position: absolute;
    border: none;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.realite_virtuelle{
    position: absolute;
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 20%;
    left: 40%;
    position: absolute;
    border: none;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.console{
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 20%;
    left: 60%;
    position: absolute;
    position: absolute;
    border: none;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.cartes_cadeau{
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 20%;
    left: 20%;
    position: absolute;
    left: 80%;
    border: none;
    background-color: rgba(117, 114, 255, 1);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.ordinateur:hover , .telephone:hover , .realite_virtuelle:hover , .console:hover , .cartes_cadeau:hover{
    background-color: rgba(137, 124, 255, 1);
}
a:link, a:visited{
    color: black;
}
/*fin et debut catégories 2*/
.ordinateur_2 , .telephone_2 , .realite_virtuelle_2 , .console_2 , .cartes_cadeau_2{
    width: 45%;
    height: 250px;
    position: absolute;
    border: none;
    border-radius: 25px;
    transition: transform 400ms ease-in-out 5ms;
    font-size: 50px;
    color: lightgray;
    font-weight: bold;
    text-align: left;
    padding-top: 190px;

}
.ordinateur_2{
    background-image: url(../images/index/goofu_pc.png);
    top: 200px;
    left: 45px;
}
.telephone_2{
    background-image: url(../images/index/telephone_game.jpg);
    top: 200px;
    right: 45px;
}
.realite_virtuelle_2{
    background-image: url(../images/index/vr.jpg);
    top: 500px;
    left: 45px;
}
.console_2{
    background-image: url(../images/index/consoles.jpg);
    top: 500px;
    right: 45px;
}
.cartes_cadeau_2{
    background-image: url(../images/index/cartes_cadeau.jpg);
    top: 800px;
    left: 27%;
}
.ordinateur_2:hover , .telephone_2:hover ,  .realite_virtuelle_2:hover , .console_2:hover , .cartes_cadeau_2:hover{
    transform: translateX(0px) translateY(20px);
}
