#titre{
    margin-top: 180px;
    text-align: center;
    font-size: x-large;
}
#titre1{
    text-decoration: dotted underline;
}
#article_1{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
#article_2{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
#article_3{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
#prix1{
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
#ligne1{
    display: flex;
    flex-grow: 1;
    justify-content: center;
	margin-top: 80px;
}
#ligne2{
    display: flex;
    flex-grow: 1;
    justify-content: center;
	margin-top: 50px;
	Margin-bottom: 50px;
}
#article_4{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
#article_5{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
#article_6{
    background-color: white;
    width:20%;
    text-align:center;
    padding-top:60px;
    margin-left: 55px;
    padding-bottom: 20px;
}
.boutons_ducompte{
    position: fixed;
	margin-left: 50px;
    padding-top: 230px;
	width: 20%;
	text-align: center;
}
#bt_compte, #bt_sécurité, #bt_retours, #bt_retour_article, #bt_souhaits, #bt_promo, #bt_deconnexion{
	background-color: beige;
	margin-top: 10px;
	height: 50px;
	width: 60%;
    border-radius: 11px;
}
#bt_deconnexion{
    margin-bottom: 50px;
}
#bt_compte:hover, #bt_sécurité:hover, #bt_retours:hover, #bt_retour_article:hover, #bt_souhaits:hover, #bt_promo:hover, #bt_deconnexion:hover{
	background-color: rgb(197, 199, 214);
}
#account_title{
    position: fixed;
	margin-top: 12%;
	margin-left: 22%;
}
#commande{
    position: absolute;
    width: 75%;
    margin-top: 235px;
    margin-left: 22%;
}
#category-name{
    border-radius: 11px;
    display: flex;
    flex-grow: 1;
    width: 999px;
}
#num-com, #date, #montant, #mode-paiement, #etat, #details{
    margin-right: 50px;
    margin-left: 20px;
    font-size: large;
    text-decoration: underline;
}
#num-com{
    margin-left: 5px;
}
#details{
    margin-left: 90px;
}
#tableau-com{
    border-radius: 5px;
    position: absolute;
    margin-top: 10px;
    width: 990px;
}
#t-num-com{
    width: 20%;
    height: 10px;
}
#t-date{
    width: 11%;
}
#t-montant{
    width: 13%;
}
#t-mode-paiement{
    width: 21%;
}
#t-etat{
    width: 26%;
}
#t-details{
    width: 26%;
    border-right: 1px solid black;
}
td{
    border: 1px solid black;
    border-right: none;
}
#bt-tt-afficher{
    margin-top: 100px;
}

#titre-com{
    margin-top: 14%;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20px;
}
#tableau-com1{
    border-radius: 5px;
    position: absolute;
    margin-top: 10px;
    width: 98%;
    margin-left: 20px;
}
#titre-t{
    height: 40px;
    text-decoration: 2px solid underline gray;
}
#titre-t1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; 
}