.pageup{
    background-color: rgba(117, 114, 255, 1);
    width: 100%;
    height: 120px;
}

.logo{
    width: 140px;
    height: 100px;
    padding-left: 1em;
    padding-top: 10px;
}

.barre_cherche{
    background-color: white;
    height: 25px;
    padding-left: 30px;
    width: 50em;
    position: absolute;
    top:50px;
    line-height: 25px;
    left: 300px;
    align-content: center;
    border-radius: left 11px; 
}

.bouton_rechercher{
    background-color: rgba(186, 185, 255, 1);
    height: 25px;
    padding-left: 30px;
    width: 4em;
    position: absolute;
    top:50px;
    line-height: 25px;
    left: 70em;
    align-content: center;
    border-radius: right 11px;  
}

.panier{
    background-color: rgba(186, 185, 255, 1);
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    width: 4em;
    position: absolute;
    top:50px;
    line-height: 25px;
    left: 77em;
    align-content: center;
    border-radius: 11px; 
}
